main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selecao-de-personagens {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .personagem-grande {
        text-align: center;
        width: 30%;
        height: 70vh;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .nome::before{
            content: '';
            height: 30px;
            width: 100%;
            position: absolute;
            bottom: -15px;
            left: 0;
          }

          .nome h2{
            width: 100%;
            color: $cor-padrao;
            font-family: 'commad', sans-serif;
            font-size: 27px;
            position: absolute;
            bottom: 0;
          }
      }

      .personagem-grande.personagem-jogador-1 .nome::before {
        background-color: $cor-azul-principal;
      }

      .personagem-grande.personagem-jogador-2 .nome::before {
        background-color: $cor-vermelha-principal;
      }
}

.lista-de-personagens {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .personagem, .personagem-2{
        width: 100px;
        height: 100px;
        cursor: pointer;
        z-index: 2;
        border-radius: 5px;
        position: relative;
        transition: 0.15s ease-in-out;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .tag{
            display: none;
            font-family: 'Times New Roman', Times, serif;
            position: absolute;
            top: 5px;
            left: 5px;
            color: $cor-azul-media;
            transition: opacity .3s ease-in-out;
            animation: text-glowing-blue .3s ease-in-out infinite;
            animation-duration: alternate;
        }
    }

    .personagem.selecionado {
        border: 2px solid $cor-azul-media;
        animation: c-glowing-blue .8s ease-in-out infinite;
        animation-duration: alternate;

        .tag{
            display: block;
            animation: text-glowing-red .3s ease-in-out infinite;
            animation-duration: alternate;
        }
      }

    .personagem:hover {
        animation: c-glowing-blue .3s ease-in-out infinite;
        animation-duration: alternate;
        transform: scale(1.07);
        z-index: 2;
    }

    .personagem-2.jogador-2-selecionado{
        border: 2px solid $cor-vermelha-media;
        animation: c-glowing-red .8s ease-in-out infinite;
        animation-duration: alternate;

        &:hover{
            animation: c-glowing-red .3s ease-in-out infinite;
            animation-duration: alternate;
        }

        .tag{
            display: block;
            animation: text-glowing-red .3s ease-in-out infinite;
            animation-duration: alternate;
        }
    }
}

.btn-iniciarJogo, .btn-1-jogador, .btn-2-jogador {
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.5s;

    &:hover{
        color: rgb(208, 208, 208);
        background-color: rgba(0, 0, 0, 0.294);
    }
}

.btn-iniciarJogo{
    position: absolute;
    bottom: 10%;
    left: 46%;
}

.btn-1-jogador{
    position: absolute;
    bottom: 38%;
    left: 46%;
}

.btn-2-jogador{
    position: absolute;
    bottom: 30%;
    left: 46%;
}

.card{
    width: 500px;
}

.modo-jogo-selecionado{
    border: 2px solid $cor-vermelha-media;
    animation: c-glowing-red .8s ease-in-out infinite;
    animation-duration: alternate;

    &:hover{
        animation: c-glowing-red .3s ease-in-out infinite;
        animation-duration: alternate;
    }
}

.desabilitar{ 
    opacity: 40%;
    cursor: no-drop;
}